<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hitsoft.wechat.mapper.OrderInfoMapper">
  <resultMap id="BaseResultMap" type="com.hitsoft.wechat.model.OrderInfo">
    <id column="order_no" jdbcType="CHAR" property="order_no" />
    <id column="order_book" jdbcType="INTEGER" property="order_book" />
    <result column="order_trader" jdbcType="CHAR" property="order_trader" />
    <result column="order_staff" jdbcType="CHAR" property="order_staff" />
    <result column="order_staff_name" jdbcType="VARCHAR" property="order_staff_name" />
    <result column="order_plus_minus" jdbcType="INTEGER" property="order_plus_minus" />
    <result column="order_type" jdbcType="CHAR" property="order_type" />
    <result column="order_date" jdbcType="DATE" property="order_date" />
    <result column="order_remarks" jdbcType="VARCHAR" property="order_remarks" />
    <result column="order_audit" jdbcType="CHAR" property="order_audit" />
    <result column="order_make_user" jdbcType="VARCHAR" property="order_make_user" />
    <result column="order_make_user_name" jdbcType="VARCHAR" property="order_make_user_name" />
    <result column="order_audit_name" jdbcType="VARCHAR" property="order_audit_name" />
    <result column="order_amount_commodity" jdbcType="DECIMAL" property="order_amount_commodity" />
    <result column="order_discount_rate" jdbcType="DECIMAL" property="order_discount_rate" />
    <result column="order_amount_discount" jdbcType="DECIMAL" property="order_amount_discount" />
    <result column="order_amount_surcharge" jdbcType="DECIMAL" property="order_amount_surcharge" />
    <result column="order_amount" jdbcType="DECIMAL" property="order_amount" />
    <result column="order_amount_actual" jdbcType="DECIMAL" property="order_amount_actual" />
    <result column="order_amount_arrears" jdbcType="DECIMAL" property="order_amount_arrears" />
    <result column="order_amount_advance" jdbcType="DECIMAL" property="order_amount_advance" />
    <result column="order_amount_arrears_verification" jdbcType="DECIMAL" property="order_amount_arrears_verification" />
    <result column="order_amount_advance_verification" jdbcType="DECIMAL" property="order_amount_advance_verification" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    order_no, order_book, order_trader, order_staff, order_staff_name, order_plus_minus, 
    order_type, order_date, order_remarks, order_audit, order_make_user, order_make_user_name, 
    order_audit_name, order_amount_commodity, order_discount_rate, order_amount_discount, 
    order_amount_surcharge, order_amount, order_amount_actual, order_amount_arrears, 
    order_amount_advance, order_amount_arrears_verification, order_amount_advance_verification
  </sql>
  <select id="selectByExample" parameterType="com.hitsoft.wechat.model.OrderInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from order_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_info
    where order_no = #{order_no,jdbcType=CHAR}
      and order_book = #{order_book,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from order_info
    where order_no = #{order_no,jdbcType=CHAR}
      and order_book = #{order_book,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hitsoft.wechat.model.OrderInfoExample">
    delete from order_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hitsoft.wechat.model.OrderInfo">
    insert into order_info (order_no, order_book, order_trader, 
      order_staff, order_staff_name, order_plus_minus, 
      order_type, order_date, order_remarks, 
      order_audit, order_make_user, order_make_user_name, 
      order_audit_name, order_amount_commodity, 
      order_discount_rate, order_amount_discount, 
      order_amount_surcharge, order_amount, order_amount_actual, 
      order_amount_arrears, order_amount_advance, 
      order_amount_arrears_verification, order_amount_advance_verification
      )
    values (#{order_no,jdbcType=CHAR}, #{order_book,jdbcType=INTEGER}, #{order_trader,jdbcType=CHAR}, 
      #{order_staff,jdbcType=CHAR}, #{order_staff_name,jdbcType=VARCHAR}, #{order_plus_minus,jdbcType=INTEGER}, 
      #{order_type,jdbcType=CHAR}, #{order_date,jdbcType=DATE}, #{order_remarks,jdbcType=VARCHAR}, 
      #{order_audit,jdbcType=CHAR}, #{order_make_user,jdbcType=VARCHAR}, #{order_make_user_name,jdbcType=VARCHAR}, 
      #{order_audit_name,jdbcType=VARCHAR}, #{order_amount_commodity,jdbcType=DECIMAL}, 
      #{order_discount_rate,jdbcType=DECIMAL}, #{order_amount_discount,jdbcType=DECIMAL}, 
      #{order_amount_surcharge,jdbcType=DECIMAL}, #{order_amount,jdbcType=DECIMAL}, #{order_amount_actual,jdbcType=DECIMAL}, 
      #{order_amount_arrears,jdbcType=DECIMAL}, #{order_amount_advance,jdbcType=DECIMAL}, 
      #{order_amount_arrears_verification,jdbcType=DECIMAL}, #{order_amount_advance_verification,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hitsoft.wechat.model.OrderInfo">
    insert into order_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="order_no != null">
        order_no,
      </if>
      <if test="order_book != null">
        order_book,
      </if>
      <if test="order_trader != null">
        order_trader,
      </if>
      <if test="order_staff != null">
        order_staff,
      </if>
      <if test="order_staff_name != null">
        order_staff_name,
      </if>
      <if test="order_plus_minus != null">
        order_plus_minus,
      </if>
      <if test="order_type != null">
        order_type,
      </if>
      <if test="order_date != null">
        order_date,
      </if>
      <if test="order_remarks != null">
        order_remarks,
      </if>
      <if test="order_audit != null">
        order_audit,
      </if>
      <if test="order_make_user != null">
        order_make_user,
      </if>
      <if test="order_make_user_name != null">
        order_make_user_name,
      </if>
      <if test="order_audit_name != null">
        order_audit_name,
      </if>
      <if test="order_amount_commodity != null">
        order_amount_commodity,
      </if>
      <if test="order_discount_rate != null">
        order_discount_rate,
      </if>
      <if test="order_amount_discount != null">
        order_amount_discount,
      </if>
      <if test="order_amount_surcharge != null">
        order_amount_surcharge,
      </if>
      <if test="order_amount != null">
        order_amount,
      </if>
      <if test="order_amount_actual != null">
        order_amount_actual,
      </if>
      <if test="order_amount_arrears != null">
        order_amount_arrears,
      </if>
      <if test="order_amount_advance != null">
        order_amount_advance,
      </if>
      <if test="order_amount_arrears_verification != null">
        order_amount_arrears_verification,
      </if>
      <if test="order_amount_advance_verification != null">
        order_amount_advance_verification,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="order_no != null">
        #{order_no,jdbcType=CHAR},
      </if>
      <if test="order_book != null">
        #{order_book,jdbcType=INTEGER},
      </if>
      <if test="order_trader != null">
        #{order_trader,jdbcType=CHAR},
      </if>
      <if test="order_staff != null">
        #{order_staff,jdbcType=CHAR},
      </if>
      <if test="order_staff_name != null">
        #{order_staff_name,jdbcType=VARCHAR},
      </if>
      <if test="order_plus_minus != null">
        #{order_plus_minus,jdbcType=INTEGER},
      </if>
      <if test="order_type != null">
        #{order_type,jdbcType=CHAR},
      </if>
      <if test="order_date != null">
        #{order_date,jdbcType=DATE},
      </if>
      <if test="order_remarks != null">
        #{order_remarks,jdbcType=VARCHAR},
      </if>
      <if test="order_audit != null">
        #{order_audit,jdbcType=CHAR},
      </if>
      <if test="order_make_user != null">
        #{order_make_user,jdbcType=VARCHAR},
      </if>
      <if test="order_make_user_name != null">
        #{order_make_user_name,jdbcType=VARCHAR},
      </if>
      <if test="order_audit_name != null">
        #{order_audit_name,jdbcType=VARCHAR},
      </if>
      <if test="order_amount_commodity != null">
        #{order_amount_commodity,jdbcType=DECIMAL},
      </if>
      <if test="order_discount_rate != null">
        #{order_discount_rate,jdbcType=DECIMAL},
      </if>
      <if test="order_amount_discount != null">
        #{order_amount_discount,jdbcType=DECIMAL},
      </if>
      <if test="order_amount_surcharge != null">
        #{order_amount_surcharge,jdbcType=DECIMAL},
      </if>
      <if test="order_amount != null">
        #{order_amount,jdbcType=DECIMAL},
      </if>
      <if test="order_amount_actual != null">
        #{order_amount_actual,jdbcType=DECIMAL},
      </if>
      <if test="order_amount_arrears != null">
        #{order_amount_arrears,jdbcType=DECIMAL},
      </if>
      <if test="order_amount_advance != null">
        #{order_amount_advance,jdbcType=DECIMAL},
      </if>
      <if test="order_amount_arrears_verification != null">
        #{order_amount_arrears_verification,jdbcType=DECIMAL},
      </if>
      <if test="order_amount_advance_verification != null">
        #{order_amount_advance_verification,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hitsoft.wechat.model.OrderInfoExample" resultType="java.lang.Long">
    select count(*) from order_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update order_info
    <set>
      <if test="record.order_no != null">
        order_no = #{record.order_no,jdbcType=CHAR},
      </if>
      <if test="record.order_book != null">
        order_book = #{record.order_book,jdbcType=INTEGER},
      </if>
      <if test="record.order_trader != null">
        order_trader = #{record.order_trader,jdbcType=CHAR},
      </if>
      <if test="record.order_staff != null">
        order_staff = #{record.order_staff,jdbcType=CHAR},
      </if>
      <if test="record.order_staff_name != null">
        order_staff_name = #{record.order_staff_name,jdbcType=VARCHAR},
      </if>
      <if test="record.order_plus_minus != null">
        order_plus_minus = #{record.order_plus_minus,jdbcType=INTEGER},
      </if>
      <if test="record.order_type != null">
        order_type = #{record.order_type,jdbcType=CHAR},
      </if>
      <if test="record.order_date != null">
        order_date = #{record.order_date,jdbcType=DATE},
      </if>
      <if test="record.order_remarks != null">
        order_remarks = #{record.order_remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.order_audit != null">
        order_audit = #{record.order_audit,jdbcType=CHAR},
      </if>
      <if test="record.order_make_user != null">
        order_make_user = #{record.order_make_user,jdbcType=VARCHAR},
      </if>
      <if test="record.order_make_user_name != null">
        order_make_user_name = #{record.order_make_user_name,jdbcType=VARCHAR},
      </if>
      <if test="record.order_audit_name != null">
        order_audit_name = #{record.order_audit_name,jdbcType=VARCHAR},
      </if>
      <if test="record.order_amount_commodity != null">
        order_amount_commodity = #{record.order_amount_commodity,jdbcType=DECIMAL},
      </if>
      <if test="record.order_discount_rate != null">
        order_discount_rate = #{record.order_discount_rate,jdbcType=DECIMAL},
      </if>
      <if test="record.order_amount_discount != null">
        order_amount_discount = #{record.order_amount_discount,jdbcType=DECIMAL},
      </if>
      <if test="record.order_amount_surcharge != null">
        order_amount_surcharge = #{record.order_amount_surcharge,jdbcType=DECIMAL},
      </if>
      <if test="record.order_amount != null">
        order_amount = #{record.order_amount,jdbcType=DECIMAL},
      </if>
      <if test="record.order_amount_actual != null">
        order_amount_actual = #{record.order_amount_actual,jdbcType=DECIMAL},
      </if>
      <if test="record.order_amount_arrears != null">
        order_amount_arrears = #{record.order_amount_arrears,jdbcType=DECIMAL},
      </if>
      <if test="record.order_amount_advance != null">
        order_amount_advance = #{record.order_amount_advance,jdbcType=DECIMAL},
      </if>
      <if test="record.order_amount_arrears_verification != null">
        order_amount_arrears_verification = #{record.order_amount_arrears_verification,jdbcType=DECIMAL},
      </if>
      <if test="record.order_amount_advance_verification != null">
        order_amount_advance_verification = #{record.order_amount_advance_verification,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update order_info
    set order_no = #{record.order_no,jdbcType=CHAR},
      order_book = #{record.order_book,jdbcType=INTEGER},
      order_trader = #{record.order_trader,jdbcType=CHAR},
      order_staff = #{record.order_staff,jdbcType=CHAR},
      order_staff_name = #{record.order_staff_name,jdbcType=VARCHAR},
      order_plus_minus = #{record.order_plus_minus,jdbcType=INTEGER},
      order_type = #{record.order_type,jdbcType=CHAR},
      order_date = #{record.order_date,jdbcType=DATE},
      order_remarks = #{record.order_remarks,jdbcType=VARCHAR},
      order_audit = #{record.order_audit,jdbcType=CHAR},
      order_make_user = #{record.order_make_user,jdbcType=VARCHAR},
      order_make_user_name = #{record.order_make_user_name,jdbcType=VARCHAR},
      order_audit_name = #{record.order_audit_name,jdbcType=VARCHAR},
      order_amount_commodity = #{record.order_amount_commodity,jdbcType=DECIMAL},
      order_discount_rate = #{record.order_discount_rate,jdbcType=DECIMAL},
      order_amount_discount = #{record.order_amount_discount,jdbcType=DECIMAL},
      order_amount_surcharge = #{record.order_amount_surcharge,jdbcType=DECIMAL},
      order_amount = #{record.order_amount,jdbcType=DECIMAL},
      order_amount_actual = #{record.order_amount_actual,jdbcType=DECIMAL},
      order_amount_arrears = #{record.order_amount_arrears,jdbcType=DECIMAL},
      order_amount_advance = #{record.order_amount_advance,jdbcType=DECIMAL},
      order_amount_arrears_verification = #{record.order_amount_arrears_verification,jdbcType=DECIMAL},
      order_amount_advance_verification = #{record.order_amount_advance_verification,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hitsoft.wechat.model.OrderInfo">
    update order_info
    <set>
      <if test="order_trader != null">
        order_trader = #{order_trader,jdbcType=CHAR},
      </if>
      <if test="order_staff != null">
        order_staff = #{order_staff,jdbcType=CHAR},
      </if>
      <if test="order_staff_name != null">
        order_staff_name = #{order_staff_name,jdbcType=VARCHAR},
      </if>
      <if test="order_plus_minus != null">
        order_plus_minus = #{order_plus_minus,jdbcType=INTEGER},
      </if>
      <if test="order_type != null">
        order_type = #{order_type,jdbcType=CHAR},
      </if>
      <if test="order_date != null">
        order_date = #{order_date,jdbcType=DATE},
      </if>
      <if test="order_remarks != null">
        order_remarks = #{order_remarks,jdbcType=VARCHAR},
      </if>
      <if test="order_audit != null">
        order_audit = #{order_audit,jdbcType=CHAR},
      </if>
      <if test="order_make_user != null">
        order_make_user = #{order_make_user,jdbcType=VARCHAR},
      </if>
      <if test="order_make_user_name != null">
        order_make_user_name = #{order_make_user_name,jdbcType=VARCHAR},
      </if>
      <if test="order_audit_name != null">
        order_audit_name = #{order_audit_name,jdbcType=VARCHAR},
      </if>
      <if test="order_amount_commodity != null">
        order_amount_commodity = #{order_amount_commodity,jdbcType=DECIMAL},
      </if>
      <if test="order_discount_rate != null">
        order_discount_rate = #{order_discount_rate,jdbcType=DECIMAL},
      </if>
      <if test="order_amount_discount != null">
        order_amount_discount = #{order_amount_discount,jdbcType=DECIMAL},
      </if>
      <if test="order_amount_surcharge != null">
        order_amount_surcharge = #{order_amount_surcharge,jdbcType=DECIMAL},
      </if>
      <if test="order_amount != null">
        order_amount = #{order_amount,jdbcType=DECIMAL},
      </if>
      <if test="order_amount_actual != null">
        order_amount_actual = #{order_amount_actual,jdbcType=DECIMAL},
      </if>
      <if test="order_amount_arrears != null">
        order_amount_arrears = #{order_amount_arrears,jdbcType=DECIMAL},
      </if>
      <if test="order_amount_advance != null">
        order_amount_advance = #{order_amount_advance,jdbcType=DECIMAL},
      </if>
      <if test="order_amount_arrears_verification != null">
        order_amount_arrears_verification = #{order_amount_arrears_verification,jdbcType=DECIMAL},
      </if>
      <if test="order_amount_advance_verification != null">
        order_amount_advance_verification = #{order_amount_advance_verification,jdbcType=DECIMAL},
      </if>
    </set>
    where order_no = #{order_no,jdbcType=CHAR}
      and order_book = #{order_book,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hitsoft.wechat.model.OrderInfo">
    update order_info
    set order_trader = #{order_trader,jdbcType=CHAR},
      order_staff = #{order_staff,jdbcType=CHAR},
      order_staff_name = #{order_staff_name,jdbcType=VARCHAR},
      order_plus_minus = #{order_plus_minus,jdbcType=INTEGER},
      order_type = #{order_type,jdbcType=CHAR},
      order_date = #{order_date,jdbcType=DATE},
      order_remarks = #{order_remarks,jdbcType=VARCHAR},
      order_audit = #{order_audit,jdbcType=CHAR},
      order_make_user = #{order_make_user,jdbcType=VARCHAR},
      order_make_user_name = #{order_make_user_name,jdbcType=VARCHAR},
      order_audit_name = #{order_audit_name,jdbcType=VARCHAR},
      order_amount_commodity = #{order_amount_commodity,jdbcType=DECIMAL},
      order_discount_rate = #{order_discount_rate,jdbcType=DECIMAL},
      order_amount_discount = #{order_amount_discount,jdbcType=DECIMAL},
      order_amount_surcharge = #{order_amount_surcharge,jdbcType=DECIMAL},
      order_amount = #{order_amount,jdbcType=DECIMAL},
      order_amount_actual = #{order_amount_actual,jdbcType=DECIMAL},
      order_amount_arrears = #{order_amount_arrears,jdbcType=DECIMAL},
      order_amount_advance = #{order_amount_advance,jdbcType=DECIMAL},
      order_amount_arrears_verification = #{order_amount_arrears_verification,jdbcType=DECIMAL},
      order_amount_advance_verification = #{order_amount_advance_verification,jdbcType=DECIMAL}
    where order_no = #{order_no,jdbcType=CHAR}
      and order_book = #{order_book,jdbcType=INTEGER}
  </update>
</mapper>